<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
        <form action="/auth/register" method="post">
          <div>
            <label class="black white-text">Username:</label>
            <input class="white-text" type="text" name="username" required/>
          </div>
          <div>
            <label class="black white-text">Password:</label>
            <input class="white-text" type="password" name="password" required/>
          </div>
          <div>
            <label class="black white-text">First Name:</label>
            <input class="white-text" type="text" name="firstName" required/>
          </div>
          <div>
            <label class="black white-text">Last Name:</label>
            <input class="white-text" type="text" name="lastName" required/>
          </div>
          <div>
            <label class="black white-text">Email:</label>
            <input class="white-text" type="text" name="email" required/>
          </div>
          <div>
            <label class="black white-text">Date of Birth:</label>
            <input class="white-text" type="date" name="dob" required/>
          </div>
          <div>
            <input type="submit" value="Register"/>
          </div>
        </form>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
