<header class="">
  <div class="container">
    <div class="right">
    <ul id="dropdown2" class="dropdown-content">
    <li class="white"><a class="black-text" href="/">Home</a></li>
    <li class="white"><a class="black-text" href="/user">Find Bars</a></li>
    <li class="white"><a class="black-text" href="/user/faves">My Faves</a></li>
    <li class="white"><a class="black-text" href="/auth/logout">LOG OUT</a></li>
  </ul>
  </div>
  <a class="right black white-text btn dropdown-button" href="#!" data-activates="dropdown2">Menu<i class="mdi-navigation-arrow-drop-down right"></i></a>
  <div class="container">
    <h1 class="white-text center">BarTinder</h1>
    <h5 class="white-text center">The answer to the question: Where are we drinking?</h5>
    </div>

  </div>
</header>
